.container .breadcrumbs {
    margin-top:60px;
}
html,
body {
   height:100%;
}
.container {
   min-height:100%;
   position:relative;
}
#content{
   padding-bottom:110px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   font-size:85%;
   width:100%;
   height:110px;   /* Height of the footer */
}
form .grid-view{
    padding-top:0;
}
#db-grid table tbody tr,#db-grid table tbody td{
    display: block !important;
}
#db-grid table tbody{
    max-height: 350px;
    overflow:auto;
    display: block !important;
    width:100%;
} 
#db-grid table thead tr {
    display: block !important;
}

.grid-view table.items tr.selected td{
    background-color: rgb(0, 136, 204)!important;
    color:white !important;
}
div.clear{
    clear:both;
}
form [class*="span"]{
    margin-left:0;
    margin-right:20px;
}
.hide{
    display:none;
}

.detail-view th{
    text-align:left !important;
}

.grid-view .button-column{
    width:65px !important;
}